@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family:'Poppins',sans-serif;
    margin: 0;
    padding: 0;
}
.header_top_notice_bar{
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    background-color: #046a38;
}
.header_top_notice_bar a{
    text-decoration: none;
    color: #ffffff;
}
.header_top_notice_bar a span{
    font-size: 13px;
    font-weight: 600;
    position: relative;
}
.header_top_notice_bar a span::after{
    position: absolute;
    content: '';
    background-color: #ffffff;
    height: 1px;
    width:100%;
    left:0;
    bottom:-2px;
}
header{
    position: sticky;
    top: 0;
    background-color:rgb(248, 252, 255);
}
.main-navbar{
    font-size: 14px;
}
.search-box {
  display: flex;
   align-items: center;
   border-radius: 20px;
   padding: 5px 10px;
   background-color: #d9d9d9;
   width: 200px;
}  
 .search-box input {
    border: none;
    outline: none;
    flex-grow: 1;
    font-size: 14px;
    background-color: transparent;
}  
 .search-box .search-icon {
    color: #aaa;
    font-size: 16px;
}
.header-nav-left{
    font-weight: 600;
}
.animation_hover a{
    position: relative;
}
.animation_hover a::after{
    position: absolute;
    content: '';
    background-color: black;
    height: 1px;
    width: 0%;
    left: 50%;
    bottom: -10px;
    transition: 0.3s;
    transform:translateX(-50%);
}
.animation_hover a:hover::after{
    width: 100%;
    transition: 0.3s;
}
.ai-mark-phone{
    height: 24px;
}
.main_content_mobiles{
    position: relative;
}
.top_layout{
    position: absolute;
    top: 5%;
}
.spacer{
    height: 10px;
    width: 100%;
}
.spacer-feature{
    height: 5px;
    width: 100%;
}
.content-spacer{
    height: 80px;
    background-color:transparent;
    width: 100%;
}
.home-featured-products-wrapper{
    position: relative;
}
.featured-products-content{
    position: absolute;
    top: 20px;
}
.feature-tab-text{
    background-color: rgb(239 237 233);
}
.feature-tab-left-text a{
    position: relative;
    text-decoration: none;
    color: black;
}
.featured-tab-image img{
    cursor: pointer;
    transform: scale(100% );
    transition: all 0.3s;
}
.featured-tab-image:hover img{
    transform: scale(110%);
    transition: all 0.3s;
}
.feature-tab-text a:hover::after{
    width: 0%;
    transition: all ease 0.9s;
}
.feature-tab-text a::after{
    position: absolute;
    content: '';
    height: 1px;
    width:100%;
    right: 0;
    bottom: -1%;
    background-color: black;
    transition: all ease 0.11s;
}
.feature-tab-text a::before{
    position:absolute;
    content: '';
    height: 1px;
    width:0%;
    left: 0;
    bottom: -1%;
    background-color: rgb(0, 0, 0);
    transition:all ease 0.9s;
}
.feature-tab-text a:hover::before{
    width: 100%;
    transition:all ease 1.5s;
}
.home-featured-products-wrapper{
    position: relative;
}
.offers-text-bg{
    background-color: rgb(246 246 246);
}
.zoom-in-animation img{
    cursor: pointer;
    transform: 100%;
    transition: all 0.3s;
}
.zoom-in-animation:hover img{
    transform: scale(110%);
    transition: all 0.3s;
}
.zoom-in-animation svg{
    transform: translateX(25px);
    transition: all 0.3s;
}
.zoom-in-animation:hover svg{
    transform: translateX(35px);
    transition: all 0.3s;
}
.explore-oppo{
    background-color: rgb(224 232 234);
}
.oppo-support-links{
    list-style: none;
    padding: 0;
}
.oppo-support-links a{
    text-decoration: none;
    font-weight: 500;
    color: rgb(62, 62, 62);
    font-size: 17px;
}
.oppo-support-links li{
    border-bottom: 1px solid rgb(223, 223, 223);
    cursor: pointer;
}
.oppo-support-links span{
    position: relative;
}
.oppo-support-links span::after{
    content: '';
    position: absolute;
    height: .5px;
    left: 0;
    width: 0%;
    bottom: -1px;
    background-color: black;
    transition: all 0.3s;
}
.oppo-support-links li:hover span::after{
    width: 100%;
    transition: all 0.3s;
}
.oppo-support-links svg{
    transform: translateX(-20px);
    transition: all 0.3s;
}
.oppo-support-links li:hover svg{
    transform: translateX(0px);
    transition: all 0.3s;
}
footer{
    background-color: black;
    color: gray;
}
footer .top-footer{
    font-size: 12px;
    position: relative;
}
footer .top-footer::after{
    content: '';
    background-color: gray;
    position: absolute;
    height: 0.5px;
    width: 100%;
    bottom: 0;
    left: 0;
}
.footer-links dl{
    font-size: 16px;
}
.footer-links dl dt{
    color: white;
}
.footer-links dd{
    font-weight: 500;
    cursor: pointer;

}
.footer-links dd:hover{
    color: white;
}
.copy-right-area{
    list-style: none;
}
.copy-right-area li{
    display: inline-block;
}